/*======================= Define Global Fonts ======================= */

// Titillium Web Regular
@font-face{
    font-family: "Titillium";
    src:url("../../assets/fonts/TitilliumWeb-Regular.ttf");
    font-weight: 400;
    font-style: normal;
}

// Titillium Web Semi Bold
@font-face{
    font-family: "Titillium";
    src:url("../../assets/fonts/TitilliumWeb-SemiBold.ttf");
    font-weight: 600;
    font-style: normal;
}

